@model List<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<div >

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.Name</td>
                    <td>@user.Role</td>

                </tr>
            }
        </tbody>

    </table>

</div>
