@model LoginVm


@{
    ViewBag.Title = "Login";
}

<h1 class="text-info">Login</h1>

<div class="row w-75">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
            <h4>Use local account to login</h4>
            <hr/>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="from-group row mt-2">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="from-group row mt-2">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10 ">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe"/>
                            @Html.DisplayNameFor((m => m.RememberMe))
                        </label>

                    </div>
                </div>

            </div>

            <div class="form-group row mt-2">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>
            <div class="offset-md-2">
                <p>
                    <a asp-action="Register">Register new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Forgot password?</a>
                </p>
            </div>

        </form>


    </div>

</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}